- breadcrumb :report, @report

= @report.markdowned_content

= link_to 'Edit', edit_report_path(@report), class: 'btn btn-default'
= link_to 'Destroy', @report, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-default'
= link_to 'Back', reports_path, class: 'btn btn-default'
