- breadcrumb :report, @report

= bootstrap_form_for @report do |f|
  = f.static_control :title
  = f.static_control :markdowned_content

= link_to 'Edit', edit_report_path(@report), class: 'btn btn-default'
= link_to 'Destroy', @report, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-default'
= link_to 'Back', reports_path, class: 'btn btn-default'
